.post--portfolio {
  .project__image {
    @include image-background;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-bottom: 60%;

    // @include mq($shop-width) {
    //   padding-bottom: 50%;
    // }
  }

  .post__title {
    margin-top: 1em;
  }

  .project-backlink {
    font-size: 95%;
    margin-top: 0.75em;
    color: var(--grey-font-color);

    a {
      color: var(--grey-font-color);
    }
  }

  .project-categories {
    margin-left: 0;
    padding-bottom: $spacing;
    a {
      &:not(:last-child):after {
        content: ",";
      }
    }
  }
}
